<h1>Welcome {{session.user.fullName}}!</h1>
<a href="http://localhost:4200/conversations">conversations</a>
<a href="http://localhost:4200/conversations/new">create a new conversation</a>
<button {{action "logout"}}>Logout</button>